[project]
	description = Automatically exported from code.google.com/p/opendpi
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/saikat-chaudhuri
[access "refs/for/refs/*"]
	read = group user/saikat-chaudhuri
	push = group user/saikat-chaudhuri
	label-Code-Review = -2..+2 group user/saikat-chaudhuri
	label-Verified = -1..+1 group user/saikat-chaudhuri
	rebase = group user/saikat-chaudhuri
	removeReviewer = group user/saikat-chaudhuri
	submit = group user/saikat-chaudhuri
[access "refs/heads/*"]
	read = group user/saikat-chaudhuri
	create = group user/saikat-chaudhuri
	push = +force group user/saikat-chaudhuri
	pushMerge = group user/saikat-chaudhuri
[access "refs/tags/*"]
	push = +force group user/saikat-chaudhuri
	pushTag = group user/saikat-chaudhuri
	pushSignedTag = group user/saikat-chaudhuri
